html,
body {
    font-family: sans-serif;
    font-size: 1em;
}

#data-container details {
    border: 1px solid #cca;
    background-color: #ffd;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#data-container summary {
    padding: 0.2em 0.5em 0.3em;
    cursor: pointer;
    background-color: #ffc;
}
#data-container details[open] > summary {
    border-bottom: 1px solid #cca;
}

article + article {
    margin-top: 1em;
}

.vote-total + .vote-total {
    margin-top: 0.3em;
}

/*#region Details */
details {
    border-left: 3px solid gray;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

details details {
    border-color: darkgray;
}

details details details {
    border-color: lightgray;
}

summary {
    border-radius: 5px;
    padding: 0.2em 0.5em 0.3em;
    cursor: pointer;
}

details > section {
    padding: 0.5em;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*#endregion*/


.flex-meter {
    display: flex;
    flex-direction: row;
}

.flex-meter > * {
    display: inline-block;
    min-width: 1px;
}

.flex-meter > .label {
    margin-left: 0.1em;
}

.color-bar {
    height: 10px;
}
