html,
body {
    font-family: sans-serif;
    font-size: 1em;
}

#data-container details {
    border: 1px solid #cca;
    background-color: #ffd;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#data-container summary {
    padding: 0.2em 0.5em 0.3em;
    cursor: pointer;
    background-color: #ffc;
}
#data-container details[open] > summary {
    border-bottom: 1px solid #cca;
}

article + article {
    margin-top: 1em;
}

.vote-total + .vote-total {
    margin-top: 0.3em;
}

/*#region Details */
details {
    border-left: 3px solid gray;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

details details {
    border-color: darkgray;
}

details details details {
    border-color: lightgray;
}

summary {
    border-radius: 5px;
    padding: 0.2em 0.5em 0.3em;
    cursor: pointer;
}
summary:hover {
    background-color: #eee;
}

details > section {
    padding: 0.5em;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*#endregion*/


.flex-meter {
    display: flex;
    flex-direction: row;
}

.flex-meter > * {
    display: inline-block;
    min-width: 1px;
}

.flex-meter > .label {
    margin-left: 0.1em;
}

.color-bar {
    height: 10px;
}


/*#region tabs*/
.snap-tabs {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.snap-tabs > header {
    flex-shrink: 0;
    min-block-size: fit-content;
    display: flex;
    flex-direction: column;
}
.snap-tabs > section {
    block-size: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}
.snap-tabs > * {
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
@media(hover: none) {
    .snap-tabs > * {
        scrollbar-width: none;
    }
    .snap-tabs > *::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.snap-tabs > header > nav {
    display: flex;
}
.snap-tabs > header > nav > a {
    scroll-snap-align: start;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}
.snap-tabs > section > article {
    scroll-snap-align: start;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}
/*#endregion*/

nav.vote-steps > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    padding: 0.2em 0.3em;
    text-decoration: none;
    border-radius: 5px;
}
nav.vote-steps > a:hover {
    text-decoration: underline;
    background-color: #eee;
}
nav.vote-steps > a:active {
    background-color: #ffd;
}
.vote-district h3 {
    text-align: center;
}
